src/Services/Bundler Service/FWBS.OMS.Services.Bundler/Service References/BundlerService/MatterSphereBundlerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatterSphereBundlerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50234/MatterSphereBundlerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50234/MatterSphereBundlerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatterSphereBundlerService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IMatterSphereBundlerService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMatterSphereBundlerService_ServiceVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVersion" />
  </wsdl:message>
  <wsdl:message name="IMatterSphereBundlerService_ServiceVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMatterSphereBundlerService_ValidateKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateKey" />
  </wsdl:message>
  <wsdl:message name="IMatterSphereBundlerService_ValidateKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IMatterSphereBundlerService_ProcessBundles_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBundles" />
  </wsdl:message>
  <wsdl:portType name="IMatterSphereBundlerService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/TestConnection" message="tns:IMatterSphereBundlerService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/TestConnectionResponse" message="tns:IMatterSphereBundlerService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/ServiceVersion" message="tns:IMatterSphereBundlerService_ServiceVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/ServiceVersionResponse" message="tns:IMatterSphereBundlerService_ServiceVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/ValidateKey" message="tns:IMatterSphereBundlerService_ValidateKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/ValidateKeyResponse" message="tns:IMatterSphereBundlerService_ValidateKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessBundles">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatterSphereBundlerService/ProcessBundles" message="tns:IMatterSphereBundlerService_ProcessBundles_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatterSphereBundlerService" type="tns:IMatterSphereBundlerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IMatterSphereBundlerService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceVersion">
      <soap:operation soapAction="http://tempuri.org/IMatterSphereBundlerService/ServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateKey">
      <soap:operation soapAction="http://tempuri.org/IMatterSphereBundlerService/ValidateKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessBundles">
      <soap:operation soapAction="http://tempuri.org/IMatterSphereBundlerService/ProcessBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatterSphereBundlerService">
    <wsdl:port name="BasicHttpBinding_IMatterSphereBundlerService" binding="tns:BasicHttpBinding_IMatterSphereBundlerService">
      <soap:address location="http://localhost:50234/MatterSphereBundlerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>