src/Services/OMSExport/OMSExportENT/OMSExportENT/Web References/enterpriseClientLoadService/clientloadservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.elite.com/openapi/clientload" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.elite.com/openapi/clientload" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Triggering the generation of new bills</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.elite.com/openapi/clientload">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="client" type="tns:ClientLoad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientLoad">
        <s:complexContent mixed="false">
          <s:extension base="tns:NVSerializable">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CLNUM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MODEL" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLNAME1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLNAME2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLADDR1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLADDR2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLADDR3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLADDR4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLADDR5" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLADDR6" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLPHONE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLSORT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CORGATY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CTMPLT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CFTMPLT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CFOLLOW1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CFOLLOW2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CFOLLOW3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CFOLLOW4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLIND" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLCONTCT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLARRANGE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLSTATUS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLREFER" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLSTOP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLFAX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLBUSI" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLCREDIT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLOPENDT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CBUSTYPE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CRELATED" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLOC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CPHPREFIX" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CNARRATIVE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLCOUNTRY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLSTATDATE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLSORTCODE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UNIT" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLCITY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLSTATE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLZIP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLEUSD" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLDOMESTIC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CLTXCOUNTRY" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CACTGROUP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="udf" type="tns:Udf" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="NVSerializable" abstract="true" />
      <s:complexType name="Udf">
        <s:complexContent mixed="false">
          <s:extension base="tns:NVSerializable">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="label" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user" type="tns:user" />
      <s:complexType name="user" mixed="true">
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="Createuser">
    <wsdl:part name="user" element="tns:user" />
  </wsdl:message>
  <wsdl:portType name="ClientLoadServiceSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientLoadServiceSoap" type="tns:ClientLoadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.elite.com/openapi/clientload/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Createuser" part="user" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientLoadServiceSoap12" type="tns:ClientLoadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://www.elite.com/openapi/clientload/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Createuser" part="user" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientLoadService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Triggering the generation of new bills</wsdl:documentation>
    <wsdl:port name="ClientLoadServiceSoap" binding="tns:ClientLoadServiceSoap">
      <soap:address location="http://dapent39/services/clientloadservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientLoadServiceSoap12" binding="tns:ClientLoadServiceSoap12">
      <soap12:address location="http://dapent39/services/clientloadservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>