src/Services/OMSExport/OMSExportENT/OMSExportENT/Web References/enterpriseTestWebService/testwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.elite.com/openapi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.elite.com/openapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.elite.com/openapi">
      <s:element name="GetServerVariablesAsXml">
        <s:complexType />
      </s:element>
      <s:element name="GetServerVariablesAsXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerVariablesAsXmlResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestDatabaseConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestDatabaseConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestDatabaseConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestElbsConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestElbsConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestElbsConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestFmsConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestFmsConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestFmsConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerVariablesAsXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerVariablesAsXml" />
  </wsdl:message>
  <wsdl:message name="GetServerVariablesAsXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerVariablesAsXmlResponse" />
  </wsdl:message>
  <wsdl:message name="TestDatabaseConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnection" />
  </wsdl:message>
  <wsdl:message name="TestDatabaseConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="TestElbsConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestElbsConnection" />
  </wsdl:message>
  <wsdl:message name="TestElbsConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestElbsConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="TestFmsConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestFmsConnection" />
  </wsdl:message>
  <wsdl:message name="TestFmsConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestFmsConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="TestWebServiceSoap">
    <wsdl:operation name="GetServerVariablesAsXml">
      <wsdl:input message="tns:GetServerVariablesAsXmlSoapIn" />
      <wsdl:output message="tns:GetServerVariablesAsXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <wsdl:input message="tns:TestDatabaseConnectionSoapIn" />
      <wsdl:output message="tns:TestDatabaseConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestElbsConnection">
      <wsdl:input message="tns:TestElbsConnectionSoapIn" />
      <wsdl:output message="tns:TestElbsConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestFmsConnection">
      <wsdl:input message="tns:TestFmsConnectionSoapIn" />
      <wsdl:output message="tns:TestFmsConnectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebServiceSoap" type="tns:TestWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerVariablesAsXml">
      <soap:operation soapAction="http://www.elite.com/openapi/GetServerVariablesAsXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <soap:operation soapAction="http://www.elite.com/openapi/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestElbsConnection">
      <soap:operation soapAction="http://www.elite.com/openapi/TestElbsConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFmsConnection">
      <soap:operation soapAction="http://www.elite.com/openapi/TestFmsConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebServiceSoap12" type="tns:TestWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerVariablesAsXml">
      <soap12:operation soapAction="http://www.elite.com/openapi/GetServerVariablesAsXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnection">
      <soap12:operation soapAction="http://www.elite.com/openapi/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestElbsConnection">
      <soap12:operation soapAction="http://www.elite.com/openapi/TestElbsConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFmsConnection">
      <soap12:operation soapAction="http://www.elite.com/openapi/TestFmsConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebService">
    <wsdl:port name="TestWebServiceSoap" binding="tns:TestWebServiceSoap">
      <soap:address location="http://dapent39/services/testwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebServiceSoap12" binding="tns:TestWebServiceSoap12">
      <soap12:address location="http://dapent39/services/testwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>